@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Barlow;
    background-size: cover;
    color: white;
    height: 100vh;
    font-size: 18px;
}

.home-page {
    background: url(/starter-code/assets/home/background-home-desktop.jpg) no-repeat;
}

.crew-page {
    background: url(/starter-code/assets/crew/background-crew-desktop.jpg) no-repeat;
}

.destination-page {
    background: url(/starter-code/assets/destination/background-destination-desktop.jpg) no-repeat;
}

.technology-page {
    background: url(/starter-code/assets/technology/background-technology-desktop.jpg) no-repeat;
}

.home-page .home,
.crew-page .crew,
.destination-page .destination,
.technology-page .technology {
    border-color: white;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 40px;
}

header .line {
    flex-grow: 1;
    flex-shrink: 3;
}

header .line hr {
    border-color: #555;
    color: #555;
}

header nav {
    margin-left: -20px;
    padding: 0 60px;
    background-color: rgb(255, 255, 255, .1);
    backdrop-filter: blur(1px);
}

header nav .nav-list {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

header nav .nav-list li {
    height: 100%;
}

header nav .nav-list a {
    text-decoration: none;
    padding: 20px 0;
    color: inherit;
    text-transform: uppercase;
    font-family: ebrima;
    border-bottom: 2px solid transparent;
    display: inline-block;
    height: 100%;
}

header nav .nav-list a:hover {
    border-color: #aaa;
}

header nav .nav-list a .number {
    font-weight: bold;
}

.page-identifier {
    margin-left: 100px;
    /* margin-bottom: 90px; */
    text-transform: uppercase;
}

.page-identifier span {
    color: #999;
    margin-right: 5px;
}


/* Styles for home page */

.home-page section {
    flex: 1;
    justify-content: space-between;
    display: flex;
    padding: 0 130px;
    /* gap: 450px; */
    align-items: center;
}

.left-section {
    width: 40%
}

.left-section .tagline {
    font-size: 28px;
    text-transform: uppercase;
}

h1.main-title {
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
}

p.details {
    font-size: 18px;
}

.call-to-action {
    margin-top: 90px;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    background: white;
    font-size: 32px;
    font-family: Barlow;
    text-transform: uppercase;
    user-select: none;
}

@media (max-width: 768px) {
    .home-page section {
        flex-direction: column;
        justify-content: center;
    }
}


/* End of styles for home page */


/* Crew Content Section */

.crew-page main {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

main>* {
    flex: 1;
}

.info-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 40px 70px 90px;
}

.info-section .rank {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info-section .name {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-section .details {
    margin-top: 20px;
    width: 80%;
}

.info-section .indicator {
    display: flex;
    position: absolute;
    gap: 20px;
    left: 90px;
    bottom: 50px;
}

.info-section .indicate {
    height: 15px;
    width: 15px;
    background-color: #555;
    border-radius: 50%;
}

.info-section .active {
    background-color: white !important;
}

.info-section .indicate:hover {
    background-color: #aaa;
}

.crew-page .image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}


/* End of Crew content section */


/* Destination Content Section */

.destination-page section {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 45px 100px;
}

.destination-page section>* {
    padding: 15px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

section>* img {
    max-width: 100%;
}

.tabbed-details {
    display: flex;
    flex-direction: column;
}

.tabbed-details .tabs {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-bottom: 20px;
}

.tabbed-details .tabs li {
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tabbed-details .tabs li:hover {
    border-color: #aaa;
}

.item-display .destination-name {
    font-size: 3.5em;
    text-transform: uppercase;
}

.item-display .destination-description {
    padding-bottom: 25px;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.item-display .statistics {
    display: flex;
    justify-content: space-between;
}

.stat-title {
    font-size: .5em;
    word-spacing: 2px;
    color: #999;
    text-transform: uppercase;
}

.stat-detail {
    margin-top: 7px;
    text-transform: uppercase;
}


/* End of Destination Content Section */


/* Technology Content Section */

.technology-page section {
    display: flex;
    flex: 1;
}

.left-side {
    width: 60%;
    padding: 90px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.left-side .counter {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}

.left-side .counter>* {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #555;
    cursor: pointer;
}

.left-side .counter .count:hover {
    border-color: #aaa;
}

.left-side .counter .active {
    background-color: white;
    color: black;
}

.left-side .tag {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.left-side .technology-name {
    text-transform: uppercase;
    font-size: 2.5em;
}

.right-side {
    width: 40%;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 80%;
}


/* End of Technology Section Content */